html{
  background-color: rgb(93,65,255);
}
table,td,th {
  border:solid px black;
}
table{
  margin: auto;
  margin-top: 10px;
  border-spacing: 1px 1px;
  background-color: rgb(99,115,255);
  border-radius: 7px;
}
td{
  padding-right:25px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  border-bottom: rgb(99,135,255) 1px solid;
}
tr{
  transition: all 1s ease;
}
tr:hover{
  background-color: rgb(24,165,247);
}
th{
  height:30px;
  width: 240px;
  border-bottom: 1px solid rgb(99,135,255);
}
button{
  background-color: green;
  border: none;
  height: 25px;
  border-radius: 5px 5px 20px 20px;
  transition: all 0.5s;
}
button:hover{
  background-color: purple;
}
a{
  text-decoration: none;
  background:none;
    border:none;
}

a:hover{
  color: #FFFFFF;
  text-decoration: underline;
}

img{
  float: left;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
.credentials{
  float:right;
}
input{
  border-radius: 7px;
}
#butEdit1{
  color:red;
  float:right;
}
#butDel1{
  color:red;
  float:right
}
#blaa{
  float:right;
}